<div class="container mt-10">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-3">
            <h2 class="title-techgym">
                Traga sua academia pra a web,
                esse é o futuro!
            </h2>
            <p class="text-techgym"> 
                Tech Gym tem o objetivo de digitalizar o ambiente de
                agendamentos de treinos, de uma forma acessível e fácil para qualquer
                dono de academia, aqui você pode controlar com quem o cliente irá treinar, o horário
                dos agendamentos e muito mais.
            </p>
            
                <button routerLink="/cadastro/aluno" class="btn btn-techgym text-white me-3  mt-2">
                    Teste o ambiente
                </button>
                <button class="btn btn-contact mt-2 ">
                    Fale conosco
                </button>

           
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12  mb-3 d-flex justify-content-center">
            <img src="../../assets/img/polar-sportsman 1.svg" class="img-fluid" alt="">
        </div>
    </div>
</div>